<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkwOD4rWCI2V_kxNqkPbcyGxgNlvwEmOY</string>
	<key>GCM_SENDER_ID</key>
	<string>537574073916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bisfind</string>
	<key>PROJECT_ID</key>
	<string>bisfind-e42e6</string>
	<key>STORAGE_BUCKET</key>
	<string>bisfind-e42e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537574073916:ios:9474d32f01395fe8024539</string>
</dict>
</plist>